<section class="figurine">
    {{!-- {{figurine.filename}} --}}
    {{!-- {{figurine.description}} --}}
  <img src="/images/figurine" alt="figurine description">
  <div class="figurine-details">
    {{!-- {{figurine.title}} --}}
    <h3>Figurine title</h3>
    {{!-- {{figurine.artist}} --}}
    <p>By: Figurine Artist</p>
    {{!-- {{ format_date figurine.creation_date}} --}}
    <p>Exhibition open until: figurine creation date</p>
  </div>
</section>